#contact {
  .content {
    max-width: 750px;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: flex-end;
    .contact-form {
        max-width: 500px;
        margin-top: 2%;
      form {
        display: flex;
        flex-direction: column;
      }
      /*Add padding between fields*/
      div {
        margin-top: 10px;
      }
      input,
      textarea {
        border: none;
        padding: 5px;
        margin-top: 5px;
        width: 100%;
        color: $colour-foreground;
        background-color: $colour-background;
        font-size: 14px;
      }
      textarea {
        min-height: 50px;
      }
      /*Styles the currently selected input box to match theme*/
      input:focus,
      textarea:focus {
        outline: 1px solid $colour-foreground;
      }
      button {
        display: inline-block;
        border: none;
        width: 100px;
        height: 25px;
        @include font-header();
        color: $colour-background;
        background-color: $colour-tertiary;
      }
      button:hover {
        background-color: $colour-hero;
      }
      .form-submit {
        align-self: flex-end;
      }
    }
  }
  @media screen and (min-width: 650px){
      .content {
          margin-top: 10%;
          .contact-form{
              margin-top: 10%;
          }
      }
  }
}
